# Explore here

Loading the Data into Pandas DataFrames 

check tables

In [2]:
import pandas as pd 

movies = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')
credits = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv')

print(movies.head(5))
print(credits.head(5))

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [3]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [4]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

Creating a Database and Storing DataFrames as Tables

In [5]:
import sqlite3
sql_database = sqlite3.connect('movies&credits.sqlite')

movies.to_sql('movies', sql_database, index=False)
credits.to_sql('credits', sql_database, index=False)

ValueError: Table 'movies' already exists.

In [36]:
join_tables = """
SELECT movies.*, credits.cast, credits.crew
FROM movies
JOIN credits ON movies.title = credits.title;
"""

joined_df = pd.read_sql_query(join_tables, sql_database)

print(joined_df.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...     revenue runtime  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...  2787965087   162.0
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   961000000   169.0
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   880674609   148.0
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...  1084939099   165.0
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   284139100   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466
3                     The Dark Knight Rises          7.6       9106
4                               John Carter          6.1       2124

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 22 columns]

In [47]:
gs = joined_df['genres']

In [50]:
import json
json.loads(gs[0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [8]:
sql_database.commit()

In [ ]:
sql_database.close()

CLEANing the JoiNED TABLE TO LEAVE ONLY:

movie_id, 
title, 
overview, 
genres, 
keywords, 
cast, 
crew

In [14]:
import json

def extract_names(json_str):
    if json_str and isinstance(json_str, str):
        try:
            return ', '.join(item['name'] for item in json.loads(json_str))
        except json.JSONDecodeError:
            return None  # Return None if JSON is malformed
    return None  # Return None if json_str is empty or not a string

def extract_cast_names(json_str):
    if json_str and isinstance(json_str, str):
        try:
            return ', '.join(item['name'] for item in json.loads(json_str)[:3])
        except json.JSONDecodeError:
            return None
    return None

def extract_director_name(json_str):
    if json_str and isinstance(json_str, str):
        try:
            crew = json.loads(json_str)
            for item in crew:
                if item.get('job') == 'Director':
                    return item.get('name')
        except json.JSONDecodeError:
            return None
    return None

In [20]:
joined_df['genres'] = joined_df['genres'].apply(extract_names)
joined_df['keywords'] = joined_df['keywords'].apply(extract_names)
joined_df['cast'] = joined_df['cast'].apply(extract_cast_names)
joined_df['crew'] = joined_df['crew'].apply(extract_director_name)

print(joined_df.head())

      budget genres                                      homepage      id  \
0  237000000   None                   http://www.avatarmovie.com/   19995
1  300000000   None  http://disney.go.com/disneypictures/pirates/     285
2  245000000   None   http://www.sonypictures.com/movies/spectre/  206647
3  250000000   None            http://www.thedarkknightrises.com/   49026
4  260000000   None          http://movies.disney.com/john-carter   49529

  keywords original_language                            original_title  \
0     None                en                                    Avatar
1     None                en  Pirates of the Caribbean: At World's End
2     None                en                                   Spectre
3     None                en                     The Dark Knight Rises
4     None                en                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ... runtime  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  cast  \
0                                    Avatar          7.2      11800  None
1  Pirates of the Caribbean: At World's End          6.9       4500  None
2                                   Spectre          6.3       4466  None
3                     The Dark Knight Rises          7.6       9106  None
4                               John Carter          6.1       2124  None

   crew  tags
0  None   NaN
1  None   NaN
2  None   NaN
3  None   NaN
4  None   NaN

[5 rows x 23 columns]

In [35]:
print(joined_df['genres'])

0       None
1       None
2       None
3       None
4       None
        ...
4804    None
4805    None
4806    None
4807    None
4808    None
Name: genres, Length: 4809, dtype: object

remove the spaces between the words and concatenate names to split similar named keywords. Apply this function to the columns genres, cast, crew and keywords.

In [23]:
def remove_spaces(s):
    if isinstance(s, str):
        return ','.join(word.replace(" ", "") for word in s.split(','))
    return s

print(joined_df.head())

      budget genres                                      homepage      id  \
0  237000000   None                   http://www.avatarmovie.com/   19995
1  300000000   None  http://disney.go.com/disneypictures/pirates/     285
2  245000000   None   http://www.sonypictures.com/movies/spectre/  206647
3  250000000   None            http://www.thedarkknightrises.com/   49026
4  260000000   None          http://movies.disney.com/john-carter   49529

  keywords original_language                            original_title  \
0     None                en                                    Avatar
1     None                en  Pirates of the Caribbean: At World's End
2     None                en                                   Spectre
3     None                en                     The Dark Knight Rises
4     None                en                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ... runtime  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  cast  \
0                                    Avatar          7.2      11800  None
1  Pirates of the Caribbean: At World's End          6.9       4500  None
2                                   Spectre          6.3       4466  None
3                     The Dark Knight Rises          7.6       9106  None
4                               John Carter          6.1       2124  None

   crew  tags
0  None   NaN
1  None   NaN
2  None   NaN
3  None   NaN
4  None   NaN

[5 rows x 23 columns]

In [22]:
joined_df['tags'] = joined_df['genres'] + ',' + joined_df['cast'] + ',' + joined_df['crew'] + ',' + joined_df['keywords']
joined_df['tags'] = joined_df['tags'].str.replace(',', ' ')

print(joined_df[['tags']])

     tags
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
4804  NaN
4805  NaN
4806  NaN
4807  NaN
4808  NaN

[4809 rows x 1 columns]

BUILD A KNN TO CLuSTER SIMILAR CATEGORIES

VECTORIZE TO GET FROM TEXT TO NUMERICAL

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import NearestNeighbors


joined_df['tags'] = joined_df['tags'].fillna('')

# Proceed with CountVectorizer as before
count_vectorizer = CountVectorizer(stop_words='english',max_features=500)
count_matrix = count_vectorizer.fit_transform(joined_df['tags'])

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [ ]:
from sklearn

In [ ]:
knn_model = NearestNeighbors(n_neighbors=5, metric='cosine')
knn_model.fit(count_matrix)
y_pred =

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity()